# Byte-compiled / cache
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
env/

# Jupyter checkpoints
.ipynb_checkpoints/

# Build artifacts
build/
dist/
*.egg-info/

# OS-specific
.DS_Store
Thumbs.db

# Python & Jupyter logs
*.log

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
